@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
/* 重置input*/
input,button,select,textarea{ outline:none;}
textarea{resize:none;}
/*背景颜色 */
body{
	background-image:url(../images/1.jpg);
}
#content{
	width:600px;
	height:500px;
	top:50%;
	left:50%;
	margin-left:-300px;
	margin-top:-250px;
	position:absolute;
	background-image:url(../images/bg.jpg);
	background-color:#666;
    text-align: center;
}
#bottom{
    width: 600px;
    height: 100px;
    background-color: #ccc;
    position: absolute; 
    bottom: 0px;    
}
/* 课表背景*/
#bottom-img{
    width: 60px;
    height: 60px;
    background-image:url(../images/fc.png);
	background-size:60px 60px;
    margin-left: 15px;
    margin-top: 15px;
    z-index: 100;
	/* 转动的风车*/
    animation:zhuanlogo 5s linear infinite;
    -moz-animation:zhuanlogo 5s linear infinite;
    -ms-animation:zhuanlogo 5s linear infinite;
    -o-animation:zhuanlogo 5s linear infinite;
    -webkit-animation:zhuanlogo 5s linear infinite;


}
/*函数--及兼容 */
@keyframes zhuanlogo{
0%{ transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg);-o-transform:rotate(0deg); -webkit-transform:rotate(0deg);}
100%{ transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); -webkit-transform:rotate(360deg);}
}
@-moz-keyframes zhuanlogo{
0%{ transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg);-o-transform:rotate(0deg); -webkit-transform:rotate(0deg);}
100%{ transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); -webkit-transform:rotate(360deg);}
}
@-o-keyframes zhuanlogo{
0%{ transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg);-o-transform:rotate(0deg); -webkit-transform:rotate(0deg);}
100%{ transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); -webkit-transform:rotate(360deg);}
}
@-ms-keyframes zhuanlogo{
0%{ transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg);-o-transform:rotate(0deg); -webkit-transform:rotate(0deg);}
100%{ transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); -webkit-transform:rotate(360deg);}
}
@-webkit-keyframes zhuanlogo{
0%{ transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg);-o-transform:rotate(0deg); -webkit-transform:rotate(0deg);}
100%{ transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); -webkit-transform:rotate(360deg);}
}
/*棍 */
#bottom-bang{
    width: 7.5px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    z-index: 0;
    margin-left: 40px;
    background-color:#0F0;
}
/*重置table表样式模型 */
table{
border-collapse:collapse;
} 
/* 底部Course list */
.bottom-a{
    font-size: 70px;
	font-family:Georgia, "Times New Roman", Times, serif;
    height: 100px;
	margin-left:-120px;
    position: absolute;
    bottom: 0px;
    line-height: 100px;
}